* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #f9dfdc;
}

.head {
  text-align: center;
  margin: 30px;
  padding: 5px;
  text-decoration-line: underline;
  font-family: "Times New Roman", Times, serif;
  color: #d83a56;
  font-size: larger;
}

.clockContainer {
  height: 40vw;
  width: 40vw;
  background: url(clock.png) no-repeat;
  background-image: 100%;
  position: relative;
  margin-top: 8%;
  margin-left: 42%;
}

#hour,
#min,
#sec {
  position: absolute;
  background-color: black;
  border-radius: 10px;
}

#hour {
  width: 1.1%;
  height: 10%;
  top: 11%;
  left: 20.5%;
  opacity: 0.8;
  transform-origin: bottom;
}

#min {
  width: 0.8%;
  height: 13%;
  top: 8%;
  left: 20.5%;

  opacity: 0.8;
  transform-origin: bottom;
}

#sec {
  width: 0.5%;
  height: 15%;
  top: 6%;
  left: 21%;
  opacity: 0.8;
  transform-origin: bottom;
}
